﻿@model Maratones.Models.Equipo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfesorCedula" class="control-label"></label>
                <input asp-for="ProfesorCedula" class="form-control" />
                <span asp-validation-for="ProfesorCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversidadNombre" class="control-label"></label>
                <input asp-for="UniversidadNombre" class="form-control" />
                <span asp-validation-for="UniversidadNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfesorId" class="control-label"></label>
                <select asp-for="ProfesorId" class ="form-control" asp-items="ViewBag.ProfesorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniversidadId" class="control-label"></label>
                <input asp-for="UniversidadId" class="form-control" />
                <span asp-validation-for="UniversidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
