﻿@model Maratones.Models.Equipo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfesorCedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfesorCedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversidadNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversidadNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversidadId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversidadId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
