﻿@model Maratones.Models.Estudiante

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoEstudiante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoEstudiante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipoNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipoNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipo.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Universidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Universidad.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
