﻿@model Maratones.Models.Maraton

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Maraton</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreMaraton)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreMaraton)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ganador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ganador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Premio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Premio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
