﻿@model Maratones.Models.Maraton

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Maraton</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreMaraton" class="control-label"></label>
                <input asp-for="NombreMaraton" class="form-control" />
                <span asp-validation-for="NombreMaraton" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ganador" class="control-label"></label>
                <input asp-for="Ganador" class="form-control" />
                <span asp-validation-for="Ganador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premio" class="control-label"></label>
                <input asp-for="Premio" class="form-control" />
                <span asp-validation-for="Premio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
